---
import Layout from "@components/Layout.astro";
import Hero from "@components/Hero.astro";
import SectionHeader from "@components/SectionHeader.astro";
import ScrollRevealText from "@components/ScrollRevealText.astro";
import Cards from "@components/Cards.astro";
import MediaGrid from "@components/MediaGrid.astro";
import { Image } from "astro:assets";

import imageFaedo from "@assets/faedo-5.webp";
import imageCamino from "@assets/camino.webp";
import Button from "@/components/Button.astro";
---

<Layout
  title="Ciñera - Sólo hay una"
  description="Descubre la esencia de Ciñera, un lugar único en la montaña central de León."
>
  <Hero />

  <section class="container py-10">
    <SectionHeader
      title="Descubre Ciñera"
      description="Tu próxima visita a un hermoso pueblo de la montaña central de León"
      icon="M221.28,34.75a64,64,0,0,0-90.49,0L60.69,104A15.9,15.9,0,0,0,56,115.31v73.38L26.34,218.34a8,8,0,0,0,11.32,11.32L67.32,200H140.7A15.92,15.92,0,0,0,152,195.32l0,0,69.23-70A64,64,0,0,0,221.28,34.75ZM142.07,46.06A48,48,0,0,1,211.79,112H155.33l34.35-34.34a8,8,0,0,0-11.32-11.32L120,124.69V67.87ZM72,115.35l32-31.67v57l-32,32ZM140.7,184H83.32l56-56h56.74Z"
    />
    <div class="prose prose-slate max-w-4xl mx-auto">
      <p>
        Enclavado en el corazón de la Montaña Central de León, a 1.060 metros de
        altitud, Ciñera es mucho más que un destino: es una experiencia que
        despierta los sentidos. Aquí, donde el tiempo parece detenerse entre
        hayas centenarias y valles escarpados, cada rincón cuenta una historia
        de naturaleza, tradición y superación.
      </p>
      <p>
        ¿Por qué "Ciñera, sólo hay una"? Porque ningún otro lugar conjuga de
        forma tan auténtica la magia de un bosque legendario, el legado de una
        época minera que forjó el carácter de su gente, y la calidez de un
        pueblo vivo que te espera con los brazos abiertos.
      </p>
    </div>
  </section>

  <MediaGrid />

  <section class="py-20">
    <ScrollRevealText
      text="Adéntrate en el bosque más mágico de León"
      class="max-w-2xl text-center mx-auto px-4 mb-10 font-wittgenstein text-emerald-800"
    />

    <div class="prose prose-slate max-w-4xl mx-auto px-4">
      <p>
        El Faedo es el tesoro natural de Ciñera, un hayedo centenario que parece
        sacado de las páginas de un libro de fantasía. Imagina caminar bajo la
        bóveda de hayas retorcidas de más de 500 años, cuyas ramas se entrelazan
        formando catedrales naturales donde la luz se filtra creando juegos de
        sombras imposibles.
      </p>

      <div class="grid md:grid-cols-3 gap-4 my-8">
        <Image
          class="md:col-span-2 w-full h-full rounded-2xl object-cover object-center shadow-lg shadow-black/25"
          src={imageFaedo}
          alt="Pozo Ibarra"
          loading="lazy"
        />
        <Image
          class="w-full h-full rounded-2xl object-cover object-center shadow-lg shadow-black/25"
          src={imageCamino}
          alt="Pasarela de madera del Faedo de Ciñera"
          loading="lazy"
        />
      </div>

      <p>
        El Faedo no es solo un bosque: es un lugar donde la naturaleza te habla.
        Donde cada árbol retorcido cuenta historias de siglos, donde los arroyos
        cristalinos susurran leyendas antiguas, y donde el Haya Fagus, con sus
        500 años de vida, ha sido testigo de generaciones de ciñereños.
      </p>
    </div>
    <div class="text-center mt-8 mb-16">
      <Button
        href="https://faedo.es"
        text="Descubre más sobre el Faedo de Ciñera"
        title="Descubre más sobre el Faedo de Ciñera"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>

    <section class="py-5 px-4" aria-labelledby="intro">
      <SectionHeader
        title="Planifica tu visita"
        description="En esta sección encontrarás toda la información necesaria para planificar tu visita al Faedo de Ciñera."
      />
      <div class="grid sm:grid-cols-4 gap-4 mx-auto max-w-7xl">
        <Cards
          ids={["ruta", "historia-naturaleza", "guia-visitantes", "haeda"]}
        />
      </div>
    </section>
  </section>
</Layout>
