---
import imageTopo from "@assets/topo.svg";
import Button from "./Button.astro";
---

<div class="topo" style={`background-image: url(${imageTopo.src});`}>
  <div class="max-w-xl mx-auto px-4">
    <h3 class="text-4xl font-bold mb-2">Visita guiada al Faedo de Ciñera</h3>
    <p class="text-lg">
      Si deseas conocer más sobre el Faedo de Ciñera, contrata un tour guiado.
      Pulsa el siguiente botón y envía un mensaje por WhatsApp y hazlo ahora.
    </p>

    <Button
      href="https://wa.me/34649131791?text=Me%20gustaría%20contratar%20una%20visita%20guiada%20al%20Faedo%20de%20Ciñera"
      text="Reserva tu tour guiado"
      title="Reserva tu tour guiado al Faedo de Ciñera por WhatsApp"
    />
  </div>
</div>

<style>
  .topo {
    background-color: var(--color-emerald-500);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: calc(var(--spacing) * 24) calc(var(--spacing) * 4);
    color: var(--color-white);
    text-align: center;
  }
</style>
